{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<center>
<div class="content-section col-md-4">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-warning" type="submit">Sign Up</button>
        </div>
    </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <p class="message" style="text-align: center; color: #cc0000">Already Registered? <a href="{% url 'login' %}">Login</a></p>
            </small>
        </div>
</div>
</center>
{% endblock content %}